body{
    height: 100vh;
    background: linear-gradient(45deg, #9336B4 45%,#FFE79B 45%);
    color: white;
}
h1{
    padding: 20px 0;
}

.heading{
    font-family: 'Mate SC', serif;
    text-align: center;
    margin: auto;
    width: 30%;
    background: #40128B;
    position: relative;
    top: 30px;
    min-width: 300px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
}

.flex-container{
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 15px;
    padding-top: 30px;    
    transition: 0.75s;
}

.item{
    background-color: #DD58D6;
    font-size: 2.2em;
    border-radius: 50px;
    flex-basis: 50px;
    width: 30%;
    min-width: 350px;
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.75);
    position: relative;
    color: black;
    font-family: 'Cookie', cursive;
}

input[type='checkbox']{
    position: absolute;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 13px;
    left: 5px;
    border-radius: 50%;
    appearance: none;
    background-color: rgb(151, 151, 149);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.596);
    z-index: 1;
}

input[type='checkbox']:checked:before{
    content: "";
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgb(8, 226, 92);
    border-radius: 50%;
    z-index: 1;
}

input[type='checkbox']:checked:after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 6px;
    top: 2px;
    z-index: 1;
}

input[type='checkbox']:checked + p{
    text-decoration: line-through;
    color: rgb(211, 209, 209);
}

p{
    margin: 0;
    text-align: center;
    position: relative;
    padding-top: 5px;
}

.form{
    position: relative;
    display: inline;
}

input[type='text']{
    font-size: 1.5rem;
    
    
    text-align: center;
    border-radius: 50px;
    background-color: #40128B;
    color: white;
}

input[type='text']::placeholder{
    color: rgb(199, 198, 198);
    font-size: 1.2rem;
}

.next-item{
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 11px 0px;
    min-width: 350px;
    border: none;
}

.enter{
    position: absolute;
    right: 10px;
    top: 0px;
    margin-top: 4px;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 7px 15px;
    background-color: #9336B4;
    color: white;
    border: none;
    cursor: pointer;
}

.enter:hover {
    background-color: #f8d255;
}

.footer{
    color: rgb(36, 36, 36);
    font-weight: 600;
    padding-top: 10px;
}

.toggler{
    position: absolute;
    right: 15px;
    top: 50px;
    font-size: 1.5rem;
    background-color: #DD58D6;
    
}

.side-panel{
    position: absolute;        

    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    width: 0;
    /* height: 60vh; */
    overflow-x: hidden;
    transition: 0.75s;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    background-color: #9336B4;
}

.side-panel h2{
    font-family: 'Mate SC', serif;
    font-size: 1.5rem;
}

.side-item{
    font-size: 2rem;
    text-align: center;
    color: black;
    border-radius: 50px;
    flex-basis: 40px;
    width: 80%;
    background-color: #f8d255;
    padding-top: 12px;
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.75);
    font-family: 'Cookie', cursive;
    text-decoration: none;
}

.side-form{
    text-align: center;
}

.new-list-input{
    padding-top: 0;    
    height: 45px;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid black;
}

.create {
    background-color: #00a321;
    background-image: -webkit-linear-gradient(top, #00a321, #037003);
    background-image: -moz-linear-gradient(top, #00a321, #037003);
    background-image: -ms-linear-gradient(top, #00a321, #037003);
    background-image: -o-linear-gradient(top, #00a321, #037003);
    background: linear-gradient(to bottom, #00a321, #037003);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 10px 40px 10px 40px;
    margin-bottom: 1.5rem;
    border: solid black;
    border-width: 1px 4px;
    transition: background-image 2s ease-in-out;
  }
  
  .create:hover {
    cursor: pointer;
    background-color: #0f43eb;
    background-image: -webkit-linear-gradient(top, #0f43eb, #15018a);    
    background-image: linear-gradient(to bottom, #0f43eb, #15018a);    
  }